:root {
  font-size: 16px;
  font-family: "objektiv-mk1", sans-serif;
  color: #222;

  @include large-screen {
    font-size: 20px;
  }
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

.jinya-home {
  background: url("/startpage-touch.jpg") no-repeat top center fixed;
  background-size: cover;

  @include extra-small-screen {
    background: none;
  }
}

.jinya-container {
  display: flex;
  flex-flow: row wrap;
  min-height: 100vh;
}
