.jinya-footer {
  width: 100%;
  background: lighten($primary, 40%);
  color: $white;
  display: flex;
  padding: 2rem 1rem;
  margin-top: auto;
}

.jinya-footer__heart {
  color: #dc3545;
}

.jinya-footer__link {
  color: $white;
  text-decoration: none;
}

.jinya-footer__link--imprint {
  margin-left: auto;
  margin-right: 10%;
}

.jinya-footer__claim{
  margin-left: 10%;
  margin-right: auto;
}
