@import "variables";
@import "mixins/media-query";

.jinya-imprint {
  font-family: "objektiv-mk1", sans-serif;
  padding: 2rem 10%;
  width: 100%;

  @include extra-small-screen {
    padding-bottom: 2rem;
    padding-left: 1%;
    padding-right: 1%;
  }

  @include medium-screen {
    padding-bottom: 2rem;
  }

  @include small-screen {
    padding-bottom: 2rem;
    padding-left: 1%;
    padding-right: 1%;
  }
}

.jinya-imprint__heading-one {
  font-family: "objektiv-mk1", sans-serif;
  font-weight:$fontWeightRegular;
  margin: 0 0 0.5rem;
  font-size: 2rem;
  color: $primary;
}

.jinya-imprint__heading-two {
  font-family: "objektiv-mk1", sans-serif;
  font-weight: $fontWeightRegular;
  margin: 0;
  font-size: 1.5rem;
  color: $primary;
  margin-top: 2rem;
}

.jinya-imprint__section {
  margin: 0 0 0.5rem;
}

.jinya-imprint__paragraph {
  margin: 0 0 0.5rem;
}

.jinya-imprint__list {
  margin-top: 0;
  margin-bottom: 2rem;
}
