<div>
    <h1>Get <i>Jinya</i></h1>
    <p>
        If you are an artist and you are tired of WordPress, Drupal or Contao, <i>Jinya</i> might just be the right tool
        for
        you. The main focus of <i>Jinya</i> is art not text. If we have your interest please contact us, we will help
        you get
        your portfolio up and running with a new system made for artists.
    </p>
    <p>
        <i>Jinya</i> itself is open source, so anyone can create a theme for it. But getting a theme created by the <i>Jinya</i>
        Agency has the advantage, that you get a theme created by the creators of <i>Jinya</i>. Please reach out to us
        at
        <a href="mailto:team@Jinya.de">team@Jinya.de</a>.
    </p>
</div>