<div class="jinya-header">
    <div class="header">
        <h1>
            <span class="site-title">Jinya Gallery CMS</span>
            <span class="site-description">A content management system from artists made by artists</span>
        </h1>
        <div class="header-links">
            <a class="link" href="#about" data-scroll>About Jinya</a>
            <a class="link" href="#who-uses-jinya" data-scroll>Who uses Jinya</a>
            <a class="link" href="#how-can-i-get-jinya" data-scroll>How can I get Jinya</a>
        </div>
    </div>
    <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
