<div class="user-details">
    <h1> Sites created with <i>Jinya</i></h1>
</div>
<div class="user-users">
    <div class="images-right">
        <img alt="jenny-jinya.com" src="{{ "/assets/img/jenny-jinya.com.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
        <h2> Jenny Jinya </h2>
        <p>
            Jenny Jinya is a freelance illustrator based in Germany, she studies Digital Media and had a number of
            exhibitions since she is 16, her new portfolio got an incredible amount of positive feedback over time.
        </p>
        <a class="project-link" target="_blank" href="https://jenny-jinya.com">Check it out</a>
    </div>
</div>
