:root {
	--white: #fff;
	--black: #121212;
	--primary-color: #19324c;
	--red: #db504a;

	--form-item-background: #19324c1f;
	--background-color: var(--white);
	--text-color: var(--black);
	--text-color-white: var(--white);
	--menu-item-color: var(--primary-color);
	--menu-item-color-inverse: var(--white);
	--article-background: #f7f3f2;
	--article-shadow-color: #19324c33;

	--success-background-color: #4c9f701f;
	--success-color: #4c9f70;

	--error-background-color: #db504a1f;
	--error-color: var(--red);
}
