:root {
	--white: #fff;
	--black: #333;
	--primary-color: #514b57;
	--red: #dc3545;

	--form-item-background: rgba(81, 75, 87, 0.125);
	--background-color: var(--white);
	--text-color: var(--black);
	--text-color-white: var(--white);
	--menu-item-color: var(--primary-color);
	--menu-item-color-inverse: var(--white);
	--article-background: #f7f3f2;
	--article-shadow-color: rgba(81, 75, 87, 0.2);
	--success-background-color: rgba(20, 102, 33, 0.125);
	--success-color: #146621;
	--error-background-color: rgba(220, 53, 69, 0.125);
	--error-color: #dc3545;
}

@media (prefers-color-scheme: dark) {
	:root {
		--article-background: #080c0d;
		--background-color: #000;
		--primary-color: #966554;
		--text-color: var(--white);
		--text-color-white: #000;
	}
}
