.jinya-section--about {
  padding: 2rem 10% 3rem;
  background: var(--primary-color);
}

.jinya-blocks {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  flex-flow: row wrap;
  gap: 1rem;
}

.jinya-blocks__block {
  flex: 1 1 calc(33% - 1rem);
  min-width: calc(33% - 1rem);
}

@media screen and (max-width: 1023px) {
  .jinya-blocks__block {
    flex-basis: 100%;
  }
}

.jinya-about {
  padding: 10%;
  border-radius: 5px;
  background: var(--sites-background-color);
  display: flex;
}

.jinya-about__heading {
  font-size: 3rem;
}

.jinya-blocks__header {
  font-size: 2rem;
}

.jinya-about__content,
.jinya-blocks__content {
  font-size: 1rem;
}

@media screen and (min-width: 1024px) and (max-width: 1919px) {
  .jinya-about__logo {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .jinya-about__logo {
    display: none;
  }
}

