.jinya-get {
  padding: 10%;
  border-radius: 5px;
  background: #f6f5f6;
  display: flex;
  flex-flow: row wrap;
}

.jinya-get__heading {
  font-size: 3rem;
}

.jinya-get__heading--theming {
  font-size: 2rem;
  margin-top: 1rem;
}

.jinya-get__mail-us {
  color: var(--primary-color);
}

.jinya-section--get {
  padding: 2rem 10% 3rem;
  background: var(--primary-color);
}
