.jinya-header {
  padding-top: 10rem;
  padding-left: 10rem;
}

@media screen and (min-width: 1024px) and (max-width: 1919px) {
  .jinya-header {
    padding-top: 1rem;
    padding-left: 1rem;
    margin-bottom: auto;
  }
}

@media screen and (max-width: 1023px) {
  .jinya-header {
    margin: auto;
    padding-top: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.jinya-header__brand {
  color: var(--primary-color);
  margin: 0;
  font-size: 4rem;
}

@media screen and (min-width: 1024px) and (max-width: 1919px) {
  .jinya-header__brand {
    font-size: 3rem;
  }
}

@media screen and (max-width: 1023px) {
  .jinya-header__brand {
    font-size: 3rem;
  }
}

.jinya-header__teaser {
  font-size: 2rem;
  color: var(--primary-color);
}

@media screen and (min-width: 1024px) and (max-width: 1919px) {
  .jinya-header__teaser {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1023px) {
  .jinya-header__teaser {
    font-size: 2rem;
  }
}

.jinya-header__arrow {
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: 50%;
  cursor: pointer;
  transition: all .3s;
  bottom: 5rem;
  animation-iteration-count: infinite;
  animation-name: bounce;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  transform: rotate(45deg) translate(-50%);
  border-bottom: 8px solid var(--white);
  border-right: 8px solid var(--white);
}

@media screen and (min-width: 1024px) and (max-width: 1919px) {
  .jinya-header__arrow {
    border-color: var(--primary-color);
  }
}

@media screen and (max-width: 1023px) {
  .jinya-header__arrow {
    border-color: var(--primary-color);
  }
}

@keyframes bounce {
  0% {
    bottom: 5rem;
  }
  50% {
    bottom: 3rem;
  }
  to {
    bottom: 5rem;
  }
}

.jinya-section--header {
  background: transparent;
}
