.jinya-imprint {
  font-family: objektiv-mk1, sans-serif;
  padding: 2rem 10%;
  width: 100%;
}

@media screen and (max-width: 1023px) {
  .jinya-imprint {
    padding-bottom: 2rem;
    padding-left: 1%;
    padding-right: 1%;
  }
}

@media screen and (min-width: 1920px) and (max-width: 2559px) {
  .jinya-imprint {
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1919px) {
  .jinya-imprint {
    padding-bottom: 2rem;
    padding-left: 1%;
    padding-right: 1%;
  }
}

.jinya-imprint__heading-one {
  margin: 0 0 .5rem;
  font-size: 2rem;
}

.jinya-imprint__heading-one,
.jinya-imprint__heading-two {
  font-family: objektiv-mk1, sans-serif;
  font-weight: 400;
  color: var(--primary-color);
}

.jinya-imprint__heading-two {
  font-size: 1.5rem;
  margin: 2rem 0 0;
}

.jinya-imprint__paragraph,
.jinya-imprint__section {
  margin: 0 0 .5rem;
}

.jinya-imprint__list {
  margin-top: 0;
  margin-bottom: 2rem;
}
