.jinya-section--sites {
  padding: 2rem 10% 3rem;
  background: var(--secondary-color);
}

.jinya-sites__list {
  display: flex;
  flex-flow: row wrap;
}

.jinya-sites__list-item {
  display: flex;
  flex: 0 0 100%;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.jinya-sites__list-item--right {
  flex-flow: row wrap-reverse;
}

.jinya-sites__list-item--left {
  flex-flow: row wrap;
}

.jinya-sites__image {
  object-fit: scale-down;
  flex: 0 0 50%;
  width: 50%;
}

@media screen and (max-width: 1023px) {
  .jinya-sites__image {
    flex-basis: 100%;
    width: 100%;
  }
}

.jinya-sites__content {
  flex: 0 0;
  flex-basis: -webkit-calc(50% - 1rem);
  flex-basis: calc(50% - 1rem);
}

@media screen and (max-width: 1023px) {
  .jinya-sites__content {
    flex-basis: 100%;
    width: 100%;
  }
}

.jinya-sites {
  padding: 10%;
  border-radius: 5px;
  background: var(--sites-background-color);
  display: flex;
  flex-flow: row wrap;
}

.jinya-sites__image--left {
  margin-right: 1rem;
}

@media screen and (max-width: 1023px) {
  .jinya-sites__image--left {
    margin-right: 0;
  }
}

.jinya-sites__image--right {
  margin-left: 1rem;
}

@media screen and (max-width: 1023px) {
  .jinya-sites__image--right {
    margin-left: 0;
  }
}

.jinya-sites__heading {
  flex: 0 0 100%;
  font-size: 3rem;
}

.jinya-sites__site-header {
  font-size: 2rem;
}

.jinya-sites__site-content {
  font-size: 1rem;
}

.jinya-sites__site-link {
  font-size: 1rem;
  border-radius: 8px;
  padding: .25rem .5rem;
  border: 2px solid var(--secondary-color);
  text-decoration: none;
  color: var(--secondary-color);
  transition: all .3s;
}

.jinya-sites__site-link:hover {
  background: var(--secondary-color);
  color: var(--white);
}

@media screen and (max-width: 1023px) {
  .jinya-sites__site-link {
    border: none;
    padding: 0;
  }
}
